
# MySQL Database name
MYSQL_DATABASE=
# MySQL Root Password
MYSQL_ROOT_PASSWORD=
# MySQL Default Username/password
MYSQL_USER=
MYSQL_PASSWORD=
# Lesgourmetsnomades Database
LESGOURMETSNOMADES_WORDPRESS_DB_NAME=
LESGOURMETSNOMADES_WORDPRESS_DB_USER=
LESGOURMETSNOMADES_WORDPRESS_DB_PASSWORD=
# Github Runner Token
GITHUB_RUNNER_TOKEN=
