# Scaleway keys and project
export SCW_ACCESS_KEY=
export SCW_SECRET_KEY=
export SCW_DEFAULT_PROJECT_ID=
# UptimeRobot API Key
export UPTIMEROBOT_API_KEY=
# OVH API
export OVH_APPLICATION_KEY=
export OVH_APPLICATION_SECRET=
export OVH_CONSUMER_KEY=
